= form_for(current_user) do |f|
  - if @image.present?
    = image_tag @image.url, class: 'account-page__inner--icon__input__image', width: '10%',height:'10%'
  .account-page__inner--icon__input__image2
    = f.file_field :image, class: 'account-page__inner--icon__input__btn', id: 'upload-icon'

  .account-page__inner--user-form
    .field-label
      = f.label :profile
    .field-input
      = f.text_area :profile, autocomplete: 'off'
  = f.submit "Send"

