.wrapper
  = render 'posts/index/header'
  .main
    .main__side
      .categories 
        =link_to "#{@sport.name}", category_path(@sport.id) ,class:"category-name1"
      .categories 
        =link_to "#{@comedy.name}", category_path(@comedy.id),class:"category-name1"
      .categories 
        =link_to "#{@book.name}", category_path(@book.id),class:"category-name1"
      .categories
        =link_to "#{@economy.name}", category_path(@economy.id),class:"category-name1"
      .categories
        =link_to "#{@honda.name}", category_path(@honda.id),class:"category-name1"
    .user-main
      .user-top
        .user-top__image
          = image_tag "https://kigyotv.jp/newwp/wp-content/uploads/2016/02/d8bf18dc3dbe424174e0d50816933a78.png",class: 'user-image2', size: "1215x190"
        .user-top__bottom
          .user-top__bottom__left
            - if @image.present?
              = image_tag @image.url, class: 'user-image', width: '50%',height:'50%'
            .user-edit
              = link_to "プロフィール変更", "/users/#{@user.id}/edit"
          .user-top__bottom__center
            %h1= "#{@nickname}の投稿一覧"
            %p.twiter
              <i class="fab fa-twitter-square"></i>
              %span.instagram
                <i class="fab fa-instagram"></i>
              %span.facebook
                <i class="fab fa-facebook-square"></i>
            .follow
              = render 'follow_form'
            .follower
              = render 'stats'
          .user-top__bottom__bottom
            = simple_format(@profile) 
      .user-box
        - @posts.each do |post|
          .user-posts 
            .user-posts__item
              %iframe#ytplayer{:frameborder => "0", :height => "110", :width => "210", :src => "https://www.youtube.com/embed/#{post.video}?start=#{(post.starta*60)+post.startb}&end=#{(post.enda*60)+post.endb}", :type => "text/html"}
            .user-box__title
              = link_to "#{post.title}", "/posts/#{post.id}",class:"user-name"
            .user-list
              -if user_signed_in? && current_user.id == post.user_id  
                =link_to '編集', "/posts/#{post.id}/edit", class:"edit"
                =link_to '削除', "/posts/#{post.id}", method: :delete, class:"delete"