.wrapper
  = render 'posts/index/header'
  .show
    .main__side
      .categories 
        =link_to "#{@sport.name}", category_path(@sport.id) ,class:"category-name1"
      .categories 
        =link_to "#{@comedy.name}", category_path(@comedy.id),class:"category-name1"
      .categories 
        =link_to "#{@book.name}", category_path(@book.id),class:"category-name1"
      .categories
        =link_to "#{@economy.name}", category_path(@economy.id),class:"category-name1"
      .categories
        =link_to "#{@honda.name}", category_path(@honda.id),class:"category-name1"
    .user-main
      .user-top
        .user-top__image
          -# = image_tag "#", size: "1124x200"
        .user-top__bottom
          .user-top__bottom__left
            - if @image.present?
              = image_tag @image.url, class: 'user-image', width: '50%',height:'50%'
            .user-edit
              = link_to "プロフィール変更", "/users/#{@user.id}/edit"
          .user-top__bottom__right
            .user-top__bottom__right__top
              %h1= "#{@nickname}の投稿一覧"
            .user-top__bottom__right__bottom
              = simple_format(@profile) 
      .user-box
        - @posts.each do |post|
          .user-posts 
            .user-posts__item
              %iframe#ytplayer{:frameborder => "0", :height => "110", :width => "210", :src => "https://www.youtube.com/embed/#{post.video}", :type => "text/html"}
            .user-box__title
              = link_to "#{post.title}", "/posts/#{post.id}",class:"user-name"
            .user-list
              -if user_signed_in? && current_user.id == post.user_id  
                =link_to '編集', "/posts/#{post.id}/edit", class:"edit"
                =link_to '削除', "/posts/#{post.id}", method: :delete, class:"delete"