.wrapper
  = render 'posts/index/header'
  .main
    .main__side
      .categories 
        <i class="fas fa-running"></i>
        %span=link_to "#{@category1.name}", category_path(@category1.id) ,class:"category-name1"
      .categories 
        <i class="fas fa-theater-masks"></i>
        %span=link_to "#{@category2.name}", category_path(@category2.id),class:"category-name1"
      .categories 
        <i class="fas fa-book"></i>
        %span=link_to "#{@category3.name}", category_path(@category3.id),class:"category-name1"
      .categories
        <i class="fas fa-globe-africa"></i>
        %span=link_to "#{@category4.name}", category_path(@category4.id),class:"category-name1"
      .categories
        <i class="fas fa-male"></i>
        %span=link_to "#{@category5.name}", category_path(@category5.id),class:"category-name1"
      .categories
        <i class="fas fa-male"></i>
        %span=link_to "#{@category6.name}", category_path(@category6.id),class:"category-name1"
      .categories
        <i class="fas fa-male"></i>
        %span=link_to "#{@category7.name}", category_path(@category7.id),class:"category-name1"
    .contents_new
      .content_box 
        = form_with model: @post, local: true do |f| 
          .new-post 投稿する
          = render partial: "posts/index/form", locals: { f: f }