.wrapper
  = render 'posts/index/header'
  .main
    .main__side
      .categories 
        <i class="fas fa-running"></i>
        %span=link_to "#{@sport.name}", category_path(@sport.id) ,class:"category-name1"
      .categories 
        <i class="fas fa-theater-masks"></i>
        %span=link_to "#{@comedy.name}", category_path(@comedy.id),class:"category-name1"
      .categories 
        <i class="fas fa-book"></i>
        %span=link_to "#{@book.name}", category_path(@book.id),class:"category-name1"
      .categories
        <i class="fas fa-globe-africa"></i>
        %span=link_to "#{@economy.name}", category_path(@economy.id),class:"category-name1"
      .categories
        <i class="fas fa-male"></i>
        %span=link_to "#{@honda.name}", category_path(@honda.id),class:"category-name1"
      .categories
        <i class="fas fa-male"></i>
        %span=link_to "#{@makonari.name}", category_path(@makonari.id),class:"category-name1"
    .contents_new
      .content_box 
        = form_with model: @post, local: true do |f| 
          .new-post 投稿する
          = render partial: "posts/index/form", locals: { f: f }