.wrapper
  = render 'posts/index/header'  
  .main
    .main__side
      .categories 
        <i class="fas fa-running"></i>
        %span=link_to "#{@category1.name}", category_path(@category1.id) ,class:"category-name1"
      .categories 
        <i class="fas fa-theater-masks"></i>
        %span=link_to "#{@category2.name}", category_path(@category2.id),class:"category-name1"
      .categories 
        <i class="fas fa-book"></i>
        %span=link_to "#{@category3.name}", category_path(@category3.id),class:"category-name1"
      .categories
        <i class="fas fa-globe-africa"></i>
        %span=link_to "#{@category4.name}", category_path(@category4.id),class:"category-name1"
      .categories
        <i class="fas fa-male"></i>
        %span=link_to "#{@category5.name}", category_path(@category5.id),class:"category-name1"
      .categories
        <i class="fas fa-male"></i>
        %span=link_to "#{@category6.name}", category_path(@category6.id),class:"category-name1"
      .categories
        <i class="fas fa-male"></i>
        %span=link_to "#{@category7.name}", category_path(@category7.id),class:"category-name1"
    .show-main
      .show-main__content
        .show-main__content__item   
          %iframe#show-ytplayer{:frameborder => "0", :height => "550", :width => "960", :src => "https://www.youtube.com/embed/#{@post.video}?start=#{(@post.starta*60)+@post.startb}&end=#{(@post.enda*60)+@post.endb}", :type => "text/html"}
        .show-main__content__title
          = @post.title
          .date_edit
            .created_date
              = @post.created_at.strftime('%Y/%m/%d')
            %i.icon.fa.fa-list-ul
            -if user_signed_in? && current_user.id == @post.user_id
              %ul.icon_list
                %li
                  =link_to '編集', "/posts/#{@post.id}/edit",class: "edit"
                %li
                  =link_to '削除', "/posts/#{@post.id}", method: :delete,class:"deleat"
        .user_name  
          投稿者
          =link_to "#{@post.user.nickname}", "/users/#{@post.user.id}",class: "user-name"
        
        .show-main__content__text
          = simple_format(@post.text)
      
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_google_plus"></a>
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
        
        .container
          - if current_user
            = form_with model: [@post, @comment], local: true, id: "new_comment" do |form|
              = form.text_area :text, placeholder: "コメントする", rows: "2", class: "text_box"
              = form.submit "SEND", class: "form_submit"
          - else
            %strong
              %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

        .comments
          %h4 ＜コメント一覧＞
          - if @comments
            - @comments.each do |comment|
              .comment{data: {comment: {id: comment.id}}}
                %strong
                  = link_to comment.user.nickname, "/users/#{comment.user_id}",class:"user-name"
                  ：
                  = comment.text 
                  -if current_user
                    %span
                      =link_to '削除',  "/posts/#{@post.id}/comments/#{comment.id}", method: :delete,class: "delete"