%p
  = f.text_field :title, placeholder: "title"
  = f.text_field :video, placeholder: "videoID"
  = f.text_area :text, placeholder: "text", rows: "10" 
  = f.collection_select :category_ids, Category.all, :id, :name
  = f.submit "SEND"