.form__field
  = f.text_field :title, placeholder: "title"
.form__field
  = f.text_field :video, placeholder: "videoID"
.form__field
  スタート
  = f.number_field :starta, placeholder: "分",class:"start-stop"
  %span 分
  %span= f.number_field :startb, placeholder: "秒",class:"start-stop"
  %span 秒
.form__field
  ストップ
  = f.number_field :enda, placeholder: "分",class:"start-stop"
  %span 分
  %span= f.number_field :endb, placeholder: "秒",class:"start-stop"
  %span 秒
.form__field
  = f.text_area :text, placeholder: "output", rows: "10" 
.form__field
  = f.collection_check_boxes :category_ids, Category.all, :id, :name do |category|
    = category.label do
      %tr
        %td= category.check_box
        %td= category.text
.form__field
  = f.submit "SEND"