.header
  .header__left
    .left-menu
      <i class="fas fa-grip-lines"></i>
    =link_to root_path, class: "youtube" do
      <i class="fab fa-youtube"></i>
      %span.youtube__text YouTube
  .header__search 
    = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "検索", class: "search-input"
      %button.search-btn{:type => "submit"}
        %i.fas.fa-search

      -# = form.submit "検索", class: "search-btn"
  .header__right
    -if user_signed_in?
      %span.header__right__login
        = link_to  "投稿", new_post_path, class: "post"
        = current_user.nickname 
        = link_to "/users/#{current_user.id}" do
          %sapn.user_icon
            - if current_user.image.present?
              = image_tag current_user.image.url, class: 'user-icon',size: "30x30"
            -else
              マイページ
        = link_to "ログアウト", destroy_user_session_path, class: "logout", method: :delete
        .side_user
    -else
      %span.header__right__login
        = link_to "新規登録", new_user_registration_path, class: 'post'
        = link_to "ログイン", new_user_session_path, class: 'post'