.main
  .main__side
    .categories 
      =link_to "#{@sport.name}", category_path(@sport.id) ,class:"category-name1"
    .categories 
      =link_to "#{@comedy.name}", category_path(@comedy.id),class:"category-name1"
    .categories 
      =link_to "#{@book.name}", category_path(@book.id),class:"category-name1"
    .categories
      =link_to "#{@economy.name}", category_path(@economy.id),class:"category-name1"
    .categories
      =link_to "#{@honda.name}", category_path(@honda.id),class:"category-name1"
  .contents
    .main-space
      %h1 あなたへのおすすめ
    = render partial: "/posts/index/post", collection: @posts